/AOToolRegistry.class
/AlienObject.class
/AlienObjectMOP.class
/AlienObjectTool.class
/EMFObjectMOP.class
/JavaObjectMOP.class
/JavaTranslator.class
/XJ.class
/XJLoader.class
/XMFToJavaTypeError.class
